[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
selenium = "==4.10.0"
pydantic = "*"
pydantic_settings = "*"
dotenv = "*"
setuptools = "*"
prefect = "*"
pandas = "*"
sqlalchemy = "*"
ratelimit = "*"
psycopg2-binary = "*"
scikit-learn = "*"
numpy = "<=2.2"
faiss-cpu = "*"
sentence-transformers = "*"

[dev-packages]
black = "*"
tox = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
coverage = "*"
pre-commit = "*"
types-selenium = "*"
types-requests = "*"

[requires]
python_version = "3.13"
